*.class

# Package Files #
*.jar
*.war
*.ear
/e-Project/EmployeeTransferManagment/build/
/e-Project/EmployeeTransferManagment/dist/
/EmployeeTransferManagment/nbproject/private/
/EmployeeTransferManagment/build/
/EmployeeTransferManagment/dist/